$colors: (
  darkGray: hsl(0, 0%, 63%),
  black: hsl(0, 0%, 0%),
  white: hsl(0, 0%, 100%),
  veryDarkGray: hsl(0, 0%, 27%),
);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //   flex-shrink: 1;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "League Spartan", sans-serif;
}
.text {
  font-size: 1.6rem;
  font-weight: 500;
  color: map-get($colors, darkGray);
}
.container {
  width: 100%;
  height: fit-content;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  padding: 4.8rem;
  gap: 6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &__favicon {
    width: 6.2rem;
    height: 1.4rem;
  }
  &__menuIcon {
    &--hidden {
      display: none;
    }
    &--visible {
      display: block;
    }
  }
  &__text {
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: map-get($colors, white);
    transition: all 0.3s;
    position: relative;
  }
  &__text:hover {
    cursor: pointer;
  }
  &__text::after {
    content: "";
    transition: all 0.3s;
    display: block;
    width: 0;
    height: 2px;
    background-color: map-get($colors, white);
  }
  &__text:hover::after {
    width: 100%;
  }
}
.content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  //   overflow-wrap: break-word;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  gap: 0;
  //   overflow-x: hidden;
  //   overflow-x: hidden;
  &__upper {
    display: flex;
    flex-direction: row;
    width: 300%;
    height: 100%;
    &__crousel {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      //   flex-direction: row;
      height: inherit;
      transition: all 0.5s;
      width: 100vw;
      &__imageButton {
        position: relative;
        &__image {
          width: 100%;
          height: 100%;
          //   max-height: initial;
        }
        &__buttons {
          position: absolute;
          right: 0px;
          bottom: 0;
          display: flex;
          transform: translateX(100%);
          gap: 0;
          &__left {
            padding: 3.2rem;

            background-color: map-get($colors, black);
            transition: all 0.3s ease-in-out;
            &:hover {
              cursor: pointer;
              background-color: map-get($colors, veryDarkGray);
            }
          }
          &__right {
            padding: 3.2rem;
            transition: all 0.3s ease-in-out;
            background-color: map-get($colors, black);
            &:hover {
              cursor: pointer;
              background-color: map-get($colors, veryDarkGray);
            }
          }
        }
        // object-fit: cover;
      }
      &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 8rem;
        // margin: 0 auto;
        &__head {
          font-size: 4.2rem;
          line-height: 4rem;
          font-weight: 700;
          color: map-get($colors, black);
          padding-bottom: 2.4rem;
        }
        &__text {
          font-size: 1.6rem;
          font-weight: 500;
          color: map-get($colors, darkGray);
          padding-bottom: 3.6rem;
        }
        &__shop {
          display: flex;
          gap: 2.4rem;
          align-items: center;
          width: 100%;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: map-get($colors, veryDarkGray);
            cursor: pointer;
          }
          &__text {
            letter-spacing: 1.2rem;
            font-size: 1.8rem;
            color: map-get($colors, darkGrey);
          }
        }
      }
    }
  }
  &__lower {
    display: grid;
    // flex-direction: row;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    &__image {
      width: 100%;
      height: 100%;
    }
    &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 5rem;
      // margin: 0 auto;
      &__head {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 4px;

        color: map-get($colors, black);

        padding-bottom: 1.6rem;
      }
      &__text {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 500;
        color: map-get($colors, darkGray);
        padding-bottom: 3.6rem;
      }
    }
  }
}
